*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

/* HEADER */
.top_header {
  width: 100%;
  line-height: 67px;
  background-color: #fff;
  /* position: fixed;
  z-index: 1;
  top: 0; */
}

.logo img{
  width: 90px;
}

.top_header ul li{
  list-style: none;
  display: inline;
  line-height: 67px;
}

.top_header ul li a{
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-left: 1.5rem;
  color: black;
}

.languages > li:not(:first-of-type)::before{
  content: '\007C';
  margin-left: 18px;
}

.hero{
  height: 550px;
  width: 100%;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  position: relative;
}

.hero_title{
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero_title > h1{
  font-size: 40px;
  font-weight: 600;
}

.hero_title > span{
  font-size: 0.8rem;
  margin: 20px;
  display: block;
}

.hero_title img,
.app-store img{
  height: 35px;
}

.menu {
  text-align: right;
}

.fa-bars{
  vertical-align: middle;
  margin-right: 35px;
  cursor: pointer;
}

/* MAIN */

.v-widget{
  background-color: #fafafa;
}

.helbizgo,.helbizbike{
  text-align: center;
  margin: 40px 15px;
  background-color: #fafafa;
}

.v-widget img{
  /* height: 300px; */
  width: 100%;
}

.v-widget h4 {
  margin: 32px 0;
  font-weight: 600;
}

.banner{
  height: 700px;
}

.scooter{
  width: 100%;
  height: 391px;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  text-align: center;
}

.iphone{
  text-align: center;
  position: relative;
  bottom: 260px;
}

.iphone img{
  width: 250px;
  height: auto;
}

.howwork{
  width: 200px;
  height: 100px;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  position: relative;
  left: 195px;
  bottom: 155px;
}

.step{
  width: 200px;
  height: 100px;
  text-align: left;
  position: relative;
  left: 970px;
  bottom: 236px;
}

.cards{
  text-align: center;
  float: none;
}

.garden{
  height: 550px;
  background-image: url('../img/scooter.jpg');
}

@media screen and (max-width: 992px) {
  .gardern{
    background-position: center;
  }

  .p-relative {
    position: static;
  }

  .container {
    position: relative;
  }

}

.description{
  color: #fff;
  text-align: center;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description h1{
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.description span{
  font-weight: 600;
}

.description a{
  margin-top: 10px;
}

.get{
  background-color: #354655;
  color: #fff;
  height: 520px;
}

.text-get h1{
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-get span{
  padding: 15px 0;
}

.text-get a{
  padding: 15px 0;
}

.find{
  background-image: url('../img/city.jpg');
  color: #fff;
  height: 520px;
  background-size: cover;

}

.social{
  background-image: url('../img/social-banner.jpg');
  height: 390px;
  background-size: contain;
  position: relative;
}

.family{
  background-color: #FAFAFA;
  text-align: center;
  padding: 25px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.family {
  font-size: 1.5rem;
  font-weight: 400;

}

.family span{
  display: block;
}

.family i{
  font-size: 1.2rem;
  letter-spacing: 1rem;
}

.main-footer{
  padding-top: 70px;
}

.main-footer img{
  width: 100px;
}

.main-footer ul{
  list-style: none;
  color: white;
}

.main-footer ul li a{
  color: grey;
  line-height: 2.5rem;
}

.terms{
  color: white;
  padding-top: 70px;
}

.terms i:not(:last-of-type){
  letter-spacing: 1rem;
  font-size: 1.5rem;
}

.law{
  font-size: 0.7rem;
}

.app-store{
  text-align: center;
  padding: 70px;
}

/* DEBUG */

.debug{
  border: 1px solid black;
}

.debug [class*="col-"]{
  border: 1px solid blue;
}

/* COMMON */

.f-right{
  float: right;
}

.p-relative{
  position: relative;
  height: 100%;
}

a{
  text-decoration: none;
}

.black-bg{
  background-color: black;
}
